<% provide(:title,"Portefolio : Animal Welfare") %>
<%= page_width = "col-lg-9" %>
<%= page_offset = "col-lg-offset-1" %>
<% title = "Animal Welfare" %>
<div class="container">
    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= title %>
            <small>Get involved in a project</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to("Home",home_path") %> </li>
                <li> <a href="#"> Portfolio </a> </li>
                <li class="active"><%= title %></li>
            </ol>
        </div>
    </div>

    <div class="row">

        <div class="col-md-7">
            <a href="education_item_BC.html">
                <center><img class="img-responsive" src="http://eco-friendly-green-products.com/wp-content/uploads/2012/09/gorilla-promo-noflash.ashx_.jpg"></center> 
            </a>
        </div>

        <div class="col-md-5">
            <h3><a href="http://www.barefootcollege.org/">WILDLIFE CONSERVATION SOCIETY </a> </h3>
            <h4>Fund consolidating</h4>
            <p>The Wildife Conservation Society currently works to conserve more than two million square miles of wild places around the world.</p>


            <a class="btn btn-primary" href="#">View Project <i class="fa fa-angle-right"></i></a>
        </div>

    </div>


</div>


