<% provide(:title, "The Charter") %>
<% page_width = "col-lg-9" %>
<% page_offset = "col-lg-offset-1" %>

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">The Young Bankers Charter
            </h1>
            <%= breadcrumb( [ {name:"Home",path:root_path}, { name:"The Charter"}] ) %>
        </div>

    </div>


    <div class="container">                                
        <div class="row">
            <div class="<%= page_width %> <%= page_offset %>" >
                <div class="panel panel-default">
                    <div class="panel-body"> 
                        <div class="page-header">
                            <h2 style="text-align:center ! important;"> <strong> THE YOUNG BANKERS CHARTER</strong> </h2>
                        </div>
                        <center><img class="featuringImg" src="http://p1.storage.canalblog.com/14/42/807248/62625662_p.jpg"/></center>

                        <h2> Preamble </h2>
                        <p>Within the last 20 years, the world population with needs beyond 

                        those of an economy of subsistence grew 5 times over, to an 

                        estimated 7 billion. During this period, the balance sheet of 

                        the global banking network inflated even faster, while the very 

                        structures of the industry were barely changed. Great perils 

                        resulted from these imbalances and lacks of cultural values. <br />

                        The giant regulatory overhaul of the banking system undertaken 

                        in 2009 under the influence of the G20 nations aims to bring 

                        more stability to the system –as we knew it on the eve of the 

                        2008 global financial crash. While the world population continues 

                        to develop into modern times at an unprecedented pace, new 

                        consumers require infrastructure investments, aging populations 

                        increasingly depend on stable yields and the Finance Industry 

                        further interconnects all ecosystems of the economic fabric. 

                        Never the finance industry would have been more essential, to 

                        match funding capabilities and investment needs and to ensure -

                        with its own stability- that of the global economy. </p>

                        <h2>Chapter 1: Purposes & Principles</h2>
                        <p>Such is the mission of the Young Bankers: Matching liquidity 

                        supply with funding needs in a balanced, sustainable way, so to 

                        provide the world communities with economic and social welfare, 

                        stability, health and education. <br />

                        What cannot be achieved by rules and regulation shall result 

                        from a common endeavor, a global fellowship integrating the 

                        vocational values of a most dependable profession. <br />

                        Joining together to bring forth a global financial system founded 

                        on professional integrity, transparency, risk intelligence, the 

                        respect of all stakeholders and accountable for the well being of 

                        communities, Young Bankers declare their responsibility to one 

                        another by committing to the Young Bankers Charter. </p>

                        <h3>Principle 1: The Global Fellowship of the Young Bankers</h3>
                        <p>1.0: The Charter is a moral code guiding business purposes as 

                        much as behaviors. Its principles are expected to guide the very 

                        achievements of finance executives throughout their careers, 

                        for the benefit of all the stakeholders interacting with these 

                        individuals and their respective organizations. <br />

                        1.0.1: The Charter does not intend to supersede national 

                        and international rules and regulations, corporate ethics and 

                        corporate citizenship rules, codes of conduct, internal company 

                        policies of financial institutions, codes of professional conduct or 

                        standards proposed by firms, institutes and associations within 

                        their respective capacity.</p>

                        <h3>Principle 2: Sustainable banking</h3>
                        <p>1.2: The Charter is a commitment to privilege business decisions 

                        yielding results aligned with the following priorities:

                        <ol>

                            <li>-Providing communities with economic and social welfare </li>

                            <li>-Financing sustainable development </li>

                            <li>-Providing stability, health and education </li> </ol></p>

                        <h3>Principle 3: Innovation</h3>
                        <p>1.3: The Charter is a commitment to apply innovation to 

                        maximize the benefit of the serviced communities by:

                        <ol>

                            <li>-Leveraging financial science, financial engineering, structured 

                                finance, micro-finance methodologies and future innovations. </li>

                            <li>-Leveraging modern technology such as Information Technology 

                                (IT), wireless communications, cloud computing, and future 

                                innovations. </li>

                            <li>-Leveraging new communication media such as global 

                                connectivity, social networks, satellite communications and 

                                future innovations. </li> </ol> </p>

                        <h3>Principle 4: Moral and Ethical Standards</h3>
                        <p>1.4: The Charter is a commitment to operate in a most ethical 

                        and transparent way, providing full intelligence on potential risk 

                        and indirect implications of actions and upholding highest ethical 

                        standards of honesty, integrity, fairness, diligence and regulatory 

                        compliance. </br>

                        1.4.1: Confidentiality issues must be dealt with to preserve the 

                        interest of the serviced communities while remaining within 

                        applicable legal frameworks and ethical boundaries described 

                        herein. <br />

                        1.4.2: Potential conflicts of interest must be dealt with in line with 

                        the strictest ethical standards one is exposed to, arising from 

                        corporate codes of conducts or professional associations</p>

                        <h3>Principle 5: Risk Intelligence</h3>
                        <p>1.5: The Charter is a commitment to systematically assess and 

                        report the direct and indirect risk exposures generated through 

                        the financial activities carried out. <br />

                        1.5.1: Whistleblower principle: The Charter is a commitment 

                        to signal in accordance with the code of ethics and hierarchy 

                        channels applicable at firms, the perception of financial and 

                        operational hazards, misalignments, inappropriate risk taking 

                        or potential misconduct associated with banking and financial 

                        operations. <br />

                        1.5.2: Whistleblower acceptance principle: Decision makers 

                        abiding by the Charter commit to acknowledge such concerns 

                        and analyze cases in a fair and objective way. They hereby 

                        commit to refrain from any form of direct or indirect retaliation, 

                        blame or intimidation in cases of unjustified alerts. <br />

                        1.5.3: The Charter is a commitment to study, analyze and report 

                        the potential impact of risks and activities on other business and 

                        communities.</p>

                        <h3>Principle 6: Prevention of Fraud</h3>
                        <p>1.6: The Charter is a commitment to actively contribute to 

                        schemes set up to prevent and deter rogue behaviors, conflicts of 

                        interest, inappropriate use of financial information and all forms 

                        of professional misconduct.<br />

                        1.6.1: Whistleblower principles defined in the above Principle 4 of 

                        the Charter fully apply to the prevention of fraud and misconduct.</p>						

                        <h2>Chapter 2: Membership and Participation</h2>
                        <h3>Eligibility</h3>
                        <p>2.0: The Charter is a global endeavor, unlimited in time, open 

                        to all finance professionals (bank and non-bank) and employees 

                        of financial institutions directly or indirectly contributing to 

                        activities such as: borrowing and lending, deposit and investment 

                        management, underwriting, collateral management, trade 

                        execution and processing, credit and market analysis, risk 

                        management, audit and controls, micro-finance. <br />

                        2.0.1: Employees and directors of central banks, exchanges, 

                        trade execution venues and market authorities are eligible to the 

                        Charter as far as their activities relate to the above functions, 

                        that is involving financing activities as opposed to purely ruling 

                        the markets.</p>

                        <h3>Organization and Membership</h3>
                        <p>2.1: The Charter is exclusively defined, solely owned and

                        maintained by the non-profit association Young Bankers 

                        ConnectTM, created in Geneva, Switzerland. <br />

                        2.1.2: To sign-up to the Charter, finance professionals must 

                        register to the Young Bankers ConnectTM association. <br />

                        2.1.3: The term “Young Bankers” designates fresh-minded 

                        finance professionals without distinction of age, gender, seniority, 

                        or any other discriminating criteria. <br />

                        2.1.4 Memberships to Young Bankers ConnectTM are granted upon 

                        abiding to the Charter and accepting its criteria in full. <br />

                        2.1.5 Membership criteria, terms of eligibility and participation 

                        rules are solely defined by Young Bankers ConnectTM, in a 

                        publically available document “Young Bankers Membership 

                        Criteria”. <br />

                        2.1.6: Memberships are individual and free, granted for renewable 

                        periods under the rules defined by Young Bankers Connect TM or 

                        its named representatives exclusively. <br />

                        2.1.7: To become members or to renew their membership 

                        to the next period, applicants must justify of a behavior and 

                        achievements in line with the principles of the Charter.</p>

                        <h3>Participation</h3>
                        <p>2.2: The Charter promotes the pro-active behavior of its 

                        members. <br />

                        2.2.1: Young Bankers Connect defines a system of membership 

                        grades (color-coded belts) to reward the degree of commitment 

                        and consistency of the members in applying the principles of the 

                        Charter. <br />

                        2.2.3: Members are invited to connect with each others to develop 

                        projects in line with the mission of the Charter and all other 

                        endeavors promoting its values</p>
                    </div>         

                </div>

            </div>
        </div>













        <!-- /.section -->

        <% if !signed_in? %>
            <div class="row well <%= page_width %> <%= page_offset %>">
                <div class="col-lg-8">
                    <h4>Endorse </h4>
                    <p>I have read and understand the Young Bankers values as well as the terms and conditions</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <%= link_to "Endorse", new_user_path , class: "btn btn-lg btn-primary pull-right" %>
                </div>
            </div>
        <% end %>
        <!-- /.row -->

    </div>
</div>
