<% title = "Handicap International" %>
<% provide(:title,"Portfolio : #{title} ") %>
<%= page_width = "col-lg-9" %>
<%= page_offset = "col-lg-offset-1" %>


<div class="container">
    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= title %>
        </h1>
        <ol class="breadcrumb">
            <li><%= link_to("Home",home_path") %> </li>
            <li> <a href="#"> Portfolio </a> </li>
            <li><%=link_to("Health & Hygiene",hygiene_health_path) %></li>
            <li class="active"><%= title %></li>
        </ol>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <center>
                <a href="http://www.handicap-international.org/"><img class="img-responsive" src="http://handicap-international.ca/wp-content/uploads/2012/09/Haiti_Mars-90481.jpeg"></a></center>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Funding</h2>
            <p>"Imagine living through the devastation and debilitating burden of conflict or natural disaster. Now imagine the same scenario through the eyes of a person with disabilities. Founded on the Thai-Cambodian border in 1982 as a response to landmine injuries suffered by refugees fleeing the Khmer Rouge, Handicap International provides crucial assistance to acutely vulnerable people in dire situations of poverty, exclusion, war and disaster, taking action and raising awareness to respond to their essential needs, improve their living conditions and promote respect for their dignity and fundamental rights.</p>

            <p>Comprising a network of eight national associations active in over 60 countries, the organization has been rightly lauded for its deep impact on the lives of a previously underserved constituency – from relief to demining, rehabilitation to social inclusion and anti discrimination – as well as its tireless and transformative advocacy work, including as a co-founder of the International Campaign to Ban Landmines."</p>
        </div> 

        <div class="col-md-4">
            <h3 class="page-header"><a href="http://www.handicap-international.us/what">Areas of work</a></h3>
            <ul>
                <li>Landmines & Cluster Bombs</li>
                <li>Emergencies</li>
                <li>Rehabilitation</li>
                <li>Health & Prevention</li>
                <li>Disability Rights</li>
                <li>Inclusion</li>
            </ul>
        </div>    

    </div>

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="health_item_MSF.html">
                <img class="img-responsive img-customer" src="http://www.msf.org/sites/msf.org/themes/custom/msf_org_zen/images/logo-fb.png">
            </a>
        </div>


        <div class="col-sm-3 col-xs-6">
            <a href="poverty_item_ACUMEN.html">
                <img class="img-responsive img-customer" src="img/acumen.jpeg.png">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="poverty_item_MERCY-CORPS.html">
                <img class="img-responsive img-customer" src="https://www.jivesoftware.com/wp-content/uploads/2014/09/MercyCorps_Color-300x240.png">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="poverty_item_IRC.html">
                <img class="img-responsive img-customer" src="http://www.rescue.org/sites/default/files/imagecache/Regular/migrated/images/irc-logo-color-222.jpg">
            </a>
        </div>


    </div>
</div>
