  <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url(http://it.wallpaperswiki.org/wallpapers/2012/10/Rice-Terraces-Vietnam-1200x3200.jpg);"></div>
                <div class="carousel-caption">
                    <h1>"Together, we make a difference"</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(http://wallpaperswiki.org/wallpapers/2012/10/Bourkes-Luck-Potholes-South-Africa-1200x3200.jpg);"></div>
                <div class="carousel-caption">
                    <h1>"Reuniting heart and mind"</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(http://khongthe.com/wallpapers/nature/peace-66995.jpg);"></div>
                <div class="carousel-caption">
                    <h1>"To the benefit of humankind and of nature preservation"
                    </h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    
    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Who we are </h3>
                   <p>
						Young Bankers Connect, is the network of the bank executives who are passionate and emotional about the economic impact and the social role of their profession. But moreover: <br/>

						- Young Bankers are people; they think and behave like the people they help.<br/>

						- Young Bankers are innovators. <br/>

						- Young Bankers are believers. <br/>
				</p>
                <a href="#" class="btn btn-default">Read more</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> What we believe in</h3>
                   <p>
						We are people that think and behave like the people we help. Banking is about making dreams come true. It's leveraging wealth to create a better world, balanced growth, enabling sustainable and environmentally-friendly economies.
 
						We are innovators: we believe financial engineering can be applied to produce durable wealth, comfortable pensions.
						 
						We are believers: we  know that spreading wealth harmoniously lead to peace, education, understanding and balance.

				</p>
                <a href="#" class="btn btn-default">Read more</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Joining the Young Bankers is making a difference: </h3>
                    <p>
						<a href="full-width.html"/>The Charter of the Young Bankers</a> recognizes the financial industry as a creator of economic wealth and provider of social welfare -beyond fullfilling individual purposes. To be a Young Banker is not about age. It's joining the Endeavour that forever changes the way financial institutions serve societies..

						Endorsing to the charter of the Young Bankers will enable you to join a community moreover, a network  that opens to people who believe in the same values. It is joining a club where  talented young bankers  would apply the law of capitalism to a good mean. 

						Joining the Young Bankers is making a difference.

				</p> <a href="#" class="btn btn-default">Read more</a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored text-center">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>The Young Bankers Connect Association</h2>
                    <p>Join a network of  bank executives who are passionate and emotional about the economic impact and the social role of their profession.</p>
                    <hr>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="https://images.indiegogo.com/file_attachments/556279/files/20140504114924-The-Ewe-tribe.jpg?1399229364">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Advantages of joining YBC network</h2>
                    <ul>
                        <li>Access to wide data of young bankers</li>
                        <li>Sharing constructive ideas</li>
                        <li>Unite and create, or join an existing project</li>
                        <li>Sharing knowledge and experiences</li>
                        <li>Learning about risk management, micro-finance, credit and market analysis, deposit and investment management and more</li>
                        <li>Exchanging and building new experiences </li>
                        <li>Active brainstorming e.g hiking, walks, skiing etc</li>
                        
                        <li>And having fun</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
    <!-- /.section -->

    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Joining the YBC network will enable you to</h2>
                    <ul>
                        <li>Give a new ethic to the banking industry</li>
                        <li>Actively contribute to sustainable projects </li>
                        <li>Providing communities with economic and social welfare </li>
                        <li>Creating funds in order to help the world community</li>
                        <li>Join a network of bank executives</li>
                        <li>Providing stability, health and education</li>
                        <li>Leveraging financial science, modern technology and new communication</li>
                        <li>Applying capitalism to sustainable means</li>
                        <li>Reuniting, helping, giving, creating, in order to truly make a difference!</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://cdn.lightgalleries.net/4bd5ec0f44d0a/images/Burma_Myanmar016-2.jpg">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

   


<!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects to contribute to</h2>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <%= link_to portfolio_environment_path do %>
                        <%= image_tag("img_environment.JPG",class: "img-responsive img-home-portfolio") %>
                    <% end %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <%= link_to portfolio_animals_path do %>
                        <%= image_tag("img_animal-welfare.jpeg",class: "img-responsive img-home-portfolio") %>
                    <% end %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <%= link_to portfolio_health_hygiene_path do %>
                        <%= image_tag("h&h_fin.jpg",class: "img-responsive img-home-portfolio") %>
                    <% end %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <%= link_to portfolio_education_path do %>
                        <%= image_tag("education_fin.jpg", class: "img-responsive img-home-portfolio") %>
                    <% end %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <%= link_to portfolio_poverty_path do %>
                        <%= image_tag("pov-alev.JPG",  class: "img-responsive img-home-portfolio") %>
                    <% end %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <%= link_to portfolio_infrastructure_path do %>
                        <%= image_tag("infrastructure.JPG",class: "img-responsive img-home-portfolio") %>
                    <% end %>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <!-- login -->
    </div>
