<%= render 'header' %>
<div class="table-responsive">
    <!-- THE MESSAGES -->
    <table class="table table-mailbox">
        <% @conversations.each do |c| %>
            <tr <%= "class=unread" if c.is_unread?(@user) %> >
                <%= link_to conversation_path(c)  do   %>  
                    <td class="small-col"><input type="checkbox" /></td>
                    <td class="name"><%= link_to user_name(c.last_sender),conversation_path(c) %> </td>
                    <td class="subject"> <%= link_to c.subject,conversation_path(c) %> </td>
                    <td class="time"> <%= time_string(c.created_at)%> </td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div><!-- /.table-responsive -->
</div><!-- /.col (RIGHT) -->
</div><!-- /.row -->
</div><!-- /.box-body -->
<div class="box-footer clearfix">
    <div class="pull-right">
        <small>Showing 1-12/1,240</small>
        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-left"></i></button>
        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-right"></i></button>
    </div>
</div><!-- box-footer -->
</div><!-- /.box -->
</div><!-- /.col (MAIN) -->
</div>
<!-- MAILBOX END -->

</section><!-- /.content -->
</div><!-- ./wrapper -->

<%= render 'footer' %>
