<div class="container" >
<div class="row">
    <div class="col-lg-12">
<h1 class="page-header"> User List</h1>
    </div>
</div>
<% if @users.blank? %>
<p>There are not any users currently in the system.</p>
<% else %>
    
    <%= will_paginate @users,  renderer: BootstrapPagination::Rails %>
    <ul class="users">
        <% @users.each do |user| %>
            <%= render user %>
        <%  end %>
    </ul>
    <%= will_paginate %>
<% end %>
<p> <%= link_to "Sign in", signin_path %> 
o<p> <%= link_to "Sign out", signout_path, method: "delete" %> </p>
</div>
