<!--USER PROFILE-->

<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="<%= @user.avatar.profile.url %>" alt="" class="center-block img-circle img-responsive">
                            <a href="#">Change Photo</a></p>

                        </div><!--/col--> 
                        <div class="col-xs-12 col-sm-8">
                            <h4 style="margin-top:0px;"> <%= title_for(@user) + " " + @user.fname.to_s + " " + @user.lname.to_s %> </h4>
                            <p><strong>Job: </strong> <%= @user.role unless @user.role.blank? %> </p>
                            <p><strong> Company: </strong> <%= @user.organization.name %> </p>

                            <p><strong>Email:</strong> <%= @user.email %> </p>
                            <% if @user.display_private %>
                                <p> <strong> Location: </strong> <%= "#{@user.city}, #{@user.country}" %> </p>
                            <% end %>
                            <span class="label label-info tags">Management</span> 
                            <span class="label label-info tags">Leadership</span>
                            <span class="label label-info tags">Blabla</span>
                            <span class="label label-info tags">Blabla</span>
                            </p>


                            <ul class="list-unstyled list-inline list-social-icons">
                                <% if !@user.link_fb.blank? %>
                                    <li class="tooltip-social facebook-link"><a href=<%= @user.link_fb %> data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                                    </li>
                                <% end %>
                                <% if !@user.link_li.blank? %>
                                    <li class="tooltip-social linkedin-link"><a href=<%= @user.link_li %> data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-default btn-sm pull-right" %>
                        </div>
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div><!--/col--> 
    </div><!--/row--> 
</div><!--/container--> 



<!--DESCRIPTION DE PROJETS-->    
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 ">                                         
                            <div class="container">
                                <h3><i class="glyphicon glyphicon-list-alt"></i>  Projects</h3>
                                <strong>Role</strong>
                                <p>Job description</p>

                                <strong>Role</strong>
                                <p>Job description</p>

                                <strong>Role</strong>
                                <p>Job description</p>

                                <strong>Role</strong>
                                <p>Job description</p>
                            </div>
                        </div><!--/row-->
                    </div><!--/panel-body-->
                </div><!--/panel-->
            </div><!--/col--> 
        </div><!--/row--> 
    </div><!--/container--> 



    <!--VOLONTEERING AND NON PROFIT-->    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 ">                                         
                                <div class="container">
                                    <h3><i class="glyphicon glyphicon-globe"></i>  Volonteer and causes</h3>
                                    <strong>Role</strong>
                                    <p>Job description</p>

                                    <strong>Role</strong>
                                    <p>Job description</p>

                                    <strong>Role</strong>
                                    <p>Job description</p>

                                    <strong>Role</strong>
                                    <p>Job description</p>
                                </div>
                            </div><!--/row-->
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                </div><!--/col--> 
            </div><!--/row--> 
        </div><!--/container-->     
    </div>

    <!--DISTINGUISHMENTS-->    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 ">                                         
                                <div class="container">
                                    <h3><i class="glyphicon glyphicon-leaf"></i>  Distinguishments and Awards</h3>
                                    <strong>Role</strong>
                                    <p>Job description</p>

                                    <strong>YBC Belt</strong>
                                    <p>Black: Leader and high impact on reuniting funds </p>

                                    <strong>Role</strong>
                                    <p>Job description</p>

                                    <strong>Role</strong>
                                    <p>Job description</p>
                                </div>
                            </div><!--/row-->
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                </div><!--/col--> 
            </div><!--/row--> 
        </div><!--/container-->     
    </div>    



