<h2> User Profile </h2> 
<p> 
<%= gravatar_for(@user) %>
<%= @user.fname.to_s + " " +  @user.lname.to_s %>
<br>
<%= @user.email %>
<br>
Enrolment type : 
<%= " Individual" if @user.enrol == 1 %>
<%= " Organizational" if @user.enrol == 2 %> 
</p>
<p> <%= link_to "Edit Profile", edit_user_path(@user) %> </p>

<% if @user.articles.any? %>
    <h2> Articles ( <%= @user.articles.count %> ) : </h2>
    <% if !@articles.empty? %>
        <ol class="articles">
            <%= render @articles  %>
        </ol>
        <%= will_paginate @articles %>
    <% end %>
<% else %>
    No Articles ... 
<% end %>

