<% title = "Infrastructure " %>
<% provide(:title,"Portfolio : #{title} ") %>

<div class="container">
    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header title"><%= title %>
            <small>Get involved in a project</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to("Home",home_path) %> </li>
                <li> <a href="#"> Portfolio </a> </li>
                <li class="active"><%= title %></li>
            </ol>
        </div>
    </div>
    <div class="row">

        <div class="col-md-7">
            <%= link_to infrastructure_habitat_for_humanity_path do %>
                <center><img class="img-responsive" src="http://brandvessel.com/var/clients/habitat_for_humanity_logo.jpg"></center> 
            <% end %>
        </div>

        <div class="col-md-5">
            <h3><a href="http://www.habitat.org/">HABITAT FOR HUMANITY</a> </h3>
            <h4>Fund consolidating</h4>
            <p>A non profit, Christian housing ministry. Using volonteer labor and donations, Habitat for Humanity provides shelter for those who can't afford a decent and safe place to live.  </p>

            <%= link_to infrastructure_habitat_for_humanity_path, class: "btn btn-primary" do %>
            View Project <i class="fa fa-angle-right"></i>
        <% end %>
        </div>

    </div>

</div>
