<% title = "Poverty Alleviation" %>
<% provide(:title,"Portfolio : #{title} ") %>

<div class="container">
    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header title"><%= title %>
            <small>Get involved in a project</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to("Home",home_path) %> </li>
                <li> <a href="#"> Portfolio </a> </li>
                <li class="active"><%= title %></li>
            </ol>
        </div>
    </div>
    <div class="row">

        <div class="col-md-7">
            <%= link_to poverty_brac_path do %>
                <img class="img-responsive" src="img/brac%20logo.JPG"> 
            <% end %>
        </div>

        <div class="col-md-5">
            <h3><a href="http://www.brac.net/">BRAC    </a> </h3>
            <h4>Fund consolidating</h4>
            <p> BRAC is a development success story, spreading solutions born in Bangladesh around the world – a global leader in creating opportunity for the world’s poor. What started out as a limited relief operation in 1972 in a remote village of Bangladesh has turned into the largest development organisation in the world. Organising the poor using communities’ own human and material resources, BRAC (formerly Bangladesh Rural Advancement Committee) catalyses lasting change, creating an ecosystem in which the poor have the chance to seize control of their own lives. 


            <%= link_to poverty_brac_path, class: "btn btn-primary" do %>
            <i class="fa fa-angle-right"></i>
        <% end %>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-7">
            <%= link_to poverty_acumen_path do %>
                <img class="img-responsive" src="img/Acumen-logo.JPG">
            <% end %>
        </div>

        <div class="col-md-5">
            <h3> <a href="http://www.acumen.org">ACUMEN</a></h3>
            <h4>Raising funds</h4>
            <p><em>"A bold new way of tackling poverty that's about dignity, not dependencem and choice, not charity".</em> </p>
            <p>Acumen is an exemplary non-profit that raises charitable donations to invest in companies, leaders, and ideas that are changing the way the world tackles poverty.</p>
            <%= link_to poverty_acumen_path, class: "btn btn-primary" do %>
            <i class="fa fa-angle-right"></i>
        <% end %>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-7">
            <%= link_to poverty_mercy_corps_path do %>
                <img class="img-responsive" src="http://thebalochhal.com/wp-content/uploads/2010/07/Mercy-Corps-Logo.jpg">
            <% end %>
        </div>

        <div class="col-md-5">
            <h3><a href="http://www.mercycorps.org/">MERCY CORPS</a></h3>
            <h4>Raising funds </h4>
            <p>"Mercy Corps is a global aid agency engaged in transitional environments that have experienced some sort of shock: natural disaster, economic collapse, or conflict. People working for it move as quickly as possible from bringing in food and supplies to enabling people to rebuild their economy with community-driven and market-led programs. To lay the groundwork for longer-term recovery, Mercy Corps focuses on connecting to both government and business for the changes they would like to see. "We actually focus on access to financial services as the critical element for helping to move people out of poverty", Nancy Lindborg, Mercy Corps President."</p>
            <%= link_to poverty_mercy_corps_path, class: "btn btn-primary" do %>
            <i class="fa fa-angle-right"></i>
        <% end %>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-7">
            <%= link_to health_handicap_international_path do %>
                <img class="img-responsive" src="http://buildingmarkets.org/blogs/liberia/files/2013/03/handicap-logo.jpg">
            <% end %>
        </div>

        <div class="col-md-5">
            <h3><%= link_to "HANDICAP INTERNATIONAL", health_handicap_international_path %></h3>
            <h4>Raising funds </h4>
            <p>"<b>Handicap International</b> is an independent and impartial aid organisation working in situations of poverty and exclusion, conflict and disaster. We work alongside people with disabilities and vulnerable populations, taking action and bearing witness in order to respond to their essential needs, improve their living conditions and promote respect for their dignity and fundamental rights."</p>
            <%= link_to health_handicap_international_path, class: "btn btn-primary" do %>
            <i class="fa fa-angle-right"></i>
        <% end %>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-7">
            <%= link_to poverty_international_rescue_committee_path do %>
                <img class="img-responsive" src="http://ajustatl.org/wp-content/uploads/2014/02/International-Rescue-Committee.jpg">
            <% end %>
        </div>

        <div class="col-md-5">
            <h3><a href="http://www.rescue.org">INTERNATIONAL RESCUE COMMITTEE</a></h3>

            <p>The International Rescue Committee responds to the world’s worst humanitarian crises and helps people to survive and rebuild their lives. Founded in 1933 at the request of Albert Einstein, the IRC offers lifesaving care and life-changing assistance to refugees forced to flee from war or disaster.</p>
            <%= link_to poverty_international_rescue_committee_path, class: "btn btn-primary" do %>
            View Project <i class="fa fa-angle-right"></i>
        <% end %>
        </div>

    </div>
</div>


