<!DOCTYPE html>
<html>
<head>
<title>  <%= full_title(yield(:title)) %> </title>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<!-- RUBY CODE INSIDE !! -->
    <% flash.each do |k,v| %>
        <div class="alert alert-<%= k %>"><%= v %> </div>
    <% end %>

    <div id="body">
        <%= yield %>
    </div>

<!-- END OF RUBY CODE -->

<%= render 'layouts/footer' %>



</body>
</html>
